ACCESS_LEVEL = 'Zugriffsebene'
ACCOUNT = 'Konto'
ACCOUNT_INFO_DESC = 'Sie können Änderungen an Ihrem Benutzerprofil vornehmen. Um Ihr Passwort zu ändern, geben Sie ein neues Passwort zweimal ein und drücken Sie auf Speichern. Minimale Passwortlänge ist '
ACCOUNT_INFO_HEADER = 'Kontoinformationen'
ACKNOWLEDGEMENT = 'Mit der Anmeldung erkenne ich an, dass ich die Regeln gelesen und verstanden habe und bin einverstanden, die Regeln dieses Dokuments zu befolgen, während ich Arbeiten innerhalb der Einrichtung verrichtet. Wir verfügen über eine bestehende Sicherheitsrichtlinie für Anlagen, die die Staatsangehörigkeit und die Staatsangehörigkeit der Besucher des Rechenzentrums berücksichtigt, um die US-Gesetze wie Exportkontroll- und Wirtschaftssanktionsgesetze einzuhalten. Unser Ziel besteht lediglich darin, diese US-Gesetze einzuhalten und den Zugang zu Personal nicht willkürlich zu verweigern.'
ACKNOWLEDGEMENT_DOC_NAME = 'Unsere Regeln'
ACTIONS = 'Aktionen'
ACTIVEVISITS = 'Aktive Besuche'
ADDEQPT = 'Ausrüstung hinzufügen'
ADD_USER = 'Benutzer hinzufügen'
ADD_USER_DESC = 'Alle Felder sind erforderlich! Benutzername und E-Mail müssen eindeutig sein. Minimale Passwortlänge ist '
ADD_SITE = 'Ort hinzufügen'
SADMIN = 'Standortadministrator'
ADMIN = 'Administrator'
ADMINISTRATION = 'Verwaltung'
ALL = 'Alles'
APPROVE = 'Genehmigen'
APP_NAME = 'Einloggen / Ausloggen'
BACK = 'Zurückkehren'
BADGE = 'Abzeichen-Nummer'
BADGEINITIALS = 'Abzeichen-Nummer & Initialen'
CANCEL = 'Stornieren'
CARNUM = 'Autokennzeichen'
CHANGE = 'Wechseln'
CHOOSE = 'Wählen'
CITIZEN = 'Bürger?'
CLOSE = 'Schließen'
COMPANY = 'Firma'
CONFIRM = 'Bestätigen'
CREATED = 'Erstellt'
CUSTSIGNIN = 'Kundenanmeldung'
CUSTSIGNOUT = 'Kunde Abmelden'
CUST_BANNER = 'Empfangshalle Einloggen / Ausloggen'
DEFAULT = 'Default'
DELETE = 'Löschen'
DELETE_WARNING = '********* WARNUNG! ********** Sind Sie sicher, dass Sie diesen Benutzer und alle zugehörigen Punches LÖSCHEN möchten!?!? Es gibt KEINE UNDO!'
EDIT_PROFILE = 'Profil bearbeiten'
EMAIL = 'E-Mail-Addresse'
EMAIL_NOTVALID = 'Email adresse nicht gültig'
EMAIL_USED = 'E-Mail wird bereits verwendet'
ENAME = 'Eskorte Name'
END = 'Ende'
END_VISIT_WARNING = 'Sind Sie sicher, dass Sie sich abmelden möchten?'
ESCORT = 'Eskorte'
ESECTION = 'Klicken Sie hier, wenn eine Eskorte erforderlich ist'
ESIGNATURE = 'Eskorte Unterschrift'
ETAG = 'Wer wird diese Person begleiten?'
EXCEL = 'Excel'
EXPORT = 'Export'
FIRST = 'Vorname'
FIRSTNAME = 'Vorname'
FLAG = 'Kennzeichen'
GOTOSIGNIN = 'Gehen Sie zur Kunden-Anmeldeschnittstelle'
GDPR_TEXT = 'GDPR ((Datenschutz-Grundverordnung) – Wir haben ein legitimes Interesse daran, Ihre persönlichen Daten aufzuzeichnen, so dass wir während Ihres Besuchs unsere Sorgfaltspflicht gegenüber Ihnen ausüben können und auch im Falle einer zukünftigen Haftung für Verluste oder Schäden, die auf unserer Website entstehen . Ihre Daten werden für maximal sechs Jahre sicher aufbewahrt.'
HOME = 'Zuhause'
HOURS = 'Std'
IDTYPE_NOTEMPTY = 'Bitte wählen Sie den ID-Typ'
ID_CHECKED = 'ID überprüft?'
ID_TYPE = 'ID-Typ?'
ILLEGAL_CHARACTERS = 'Benutzername enthält unzulässige Zeichen'
IN = 'In'
INITIALS = 'Initialen'
INSTHARD = 'Installation von Hardware'
INSTSOFT = 'Installation der Software'
KIOSK = 'Kiosk'
LANG = 'Sprache'
LAST = 'Nachname'
LASTNAME = 'Nachname'
LOCAL_TIME = 'Ortszeit'
LOGIN = 'Anmeldung'
LOGOUT = 'Ausloggen'
MAINHARD = 'Wartung von Hardware'
MAINSOFT = 'Wartung der Software'
MEETING = 'Treffen'
META_DESC = 'LobbySIO ist eine Touchscreen-kompatible Signatur-Pad / Anmeldeformular-Webapp.'
MIN_PASSWORD_LENGTH = 'Minimale Passwortlänge ist '
NAME = 'Vollständiger Name'
NEW = 'Neu'
NEXT = 'Nächster'
NONEAVA = 'Keiner'
NOSIGNIN = 'Keine Anmeldung'
NOSITE = 'Kein Standort ausgewählt'
NOTES = 'Anmerkungen'
NOTES_PLACEHOLDER = 'Geben Sie bei Bedarf Notizen ein'
NOT_AUTHORIZED = 'Nicht berechtigt!'
OPTIONAL = 'Optional'
OR_GO_HERE = 'Oder verwenden Sie die folgenden Optionen, um die Kioskeinstellungen zu ändern.'
OUT = 'Aus'
PAGE = 'Seite'
PASSPORT = 'Reisepass'
PASSWORD = 'Passwort'
PASSWORD_NOTCONFIRMED = 'Das Passwort muss bestätigt werden'
PASSWORD_NOTEMPTY = 'Passwort darf nicht leer sein'
PASSWORD_NOTMATCH = 'Passwörter stimmen nicht überein'
PENDINGAPPROVALS = 'Ausstehende Genehmigungen'
PLEASE_LOG_IN = 'Anmelden für Genehmigungen und Reporting'
PRINT = 'Drucken'
PDF = 'PDF'
REASON = 'Grund für den Zugang zu Einrichtungen'
REASONCOMPANY = 'Firma / Grund'
REFERENCE = 'Referenz'
REFRESH = 'Aktualisieren'
REGION ='Region'
REMEQPT = 'Ausrüstung entfernen'
REPORTS = 'Berichte'
REPORTS_DESC = 'Die Dropdown-Liste kann verwendet werden, um vorkonfigurierte Berichte auszuwählen. Weitere Berichte werden gerade geschrieben.'
REQUIRED = 'Erforderlich'
SAVE = 'Speichern'
SELECTID = 'ID auswählen'
SELECTREASON = 'Grund wählen'
SERVER_TIME = 'Serverzeit'
SIGNATURE = 'Unterschrift'
SIGNIN = 'Anmelden'
SIGNIN_THANKYOU = 'Danke, dass Sie sich angemeldet haben. Wir werden Ihnen in Kürze ein Badge zuweisen.'
SIGNOUT = 'Abmelden'
SIGNOUT_THANKYOU = 'Danke - Sie wurden erfolgreich abgemeldet.'
SINCE = 'seit'
SITE = 'Site'
SOFTWARE_VERSION = 'Version'
SSANUM = 'SSA-Ticketnummer'
START = 'Anfang'
STATEID = 'Staat ID'
TERMSTITLE = 'Unsere Regeln'
TESTING = 'Testen'
TIMEINOUT = 'Zeit ein / aus'
TIMEREASON = 'Zeit und Grund'
TIMEZONE = 'Zeitzone'
TOUR = 'Tour'
UNAVAIL = 'Nicht verfügbar'
USER = 'Nutzer'
USERNAME = 'Nutzername'
USERNAME_NOTEMPTY = 'Der Benutzername darf nicht leer sein'
USERNAME_USED = 'Benutzername bereits vergeben'
USERS = 'Benutzerverwaltung'
USERTYPE = 'Benutzertyp'
USER_INFORMATION = 'Nutzerinformation'
USER_LIST_DESC = 'Bearbeiten oder löschen Sie Benutzer und Gruppen unten.'
USER_LIST_HEADER = 'Benutzerliste'
VALIDATIONS = 'Validierungen'
VISITOR = 'Besucher'
VOID = 'Leere'
VOID_WARNING = 'Sind Sie sicher, dass Sie diesen Besuch aufheben möchten? Es gibt kein Rückgängig.'
VSIGNATURE = 'Unterschrift des Besuchers'
YESYES = 'Ja'
NONO = 'Nein'
