ACCESS_LEVEL = 'Access'
ACCOUNT = 'Account'
ACCOUNT_INFO_DESC = 'You may make changes to your user profile below.  To change your password, enter a new password twice below and press save.  Minimum password length is '
ACCOUNT_INFO_HEADER = 'Account Information'
ACKNOWLEDGEMENT = 'By signing in, I acknowledge I have read and understand the Rules and agree to follow the rules of that document while performing work inside the facility. We have an existing facility security policy that takes into account the nationality and citizenship of visitors to the data center in order to comply with U.S. laws such as export control and economic sanction laws.  Our objective is only to comply with such U.S. laws and not to deny entrance to personnel arbitrarily.'
ACKNOWLEDGEMENT_DOC_NAME = 'Our Rules'
ACTIONS = 'Actions'
ACTIVEVISITS = 'Active Visits'
ADDEQPT = 'Add Equipment'
ADD_USER = 'Add User'
ADD_USER_DESC = 'All fields are required!  Username and email must be unique.  Minimum password length is '
ADD_SITE = 'Add Site'
SADMIN = 'Site Administrator'
ADMIN = 'Administrator'
ADMINISTRATION = 'Administration'
ALL = 'All'
APPROVE = 'Approve'
APP_NAME = 'Sign-In/Sign-Out'
BACK = 'Back'
BADGE = 'Badge#'
BADGEINITIALS = 'Badge & Initials'
CARNUM = 'Car Registration #'
CHANGE = 'Change'
CHOOSE = 'Choose'
CITIZEN = 'Citizen?'
CLOSE = 'Close'
COMPANY = 'Company'
CONFIRM = 'Confirm'
CREATED = 'Created'
CUSTSIGNIN = 'Visitor Sign In'
CUSTSIGNOUT = 'Visitor Sign Out'
CUST_BANNER = 'Visitor Sign-In/Sign-Out'
DEFAULT = 'Default'
DELETE = 'Delete'
DELETE_WARNING = '********* WARNING! ********** Are you SURE you want to DELETE this user AND ALL ASSOCIATED PUNCHES!?!?  There is NO UNDO!'
EDIT_PROFILE = 'Edit Profile'
EMAIL = 'E-Mail Address'
EMAIL_NOTVALID = 'Email address not valid'
EMAIL_USED = 'Email already in use'
ENAME = 'Escort Name'
END = 'End'
END_VISIT_WARNING = 'Are you sure you want to sign out?'
ESCORT = 'Escort'
ESECTION = 'Click here if escort required'
ESIGNATURE = 'Escort Signature'
ETAG = 'Who will escort this person?'
EXCEL = 'Excel'
EXPORT = 'Export'
FIRST = 'First'
FIRSTNAME = 'First Name'
FLAG = 'Flag'
GOTOSIGNIN = 'Go to Customer Sign-In Interface'
GDPR_TEXT = 'GDPR (General Data Protection Regulation) – We have a legitimate interest in recording your personal details so that we can exercise our duty of care towards you during your visit and also in the event of any future liability for loss or harm incurred whilst on our site. Your details will be securely retained for a maximum of six years.'
HOME = 'Home'
HOURS = 'Hours'
IDTYPE_NOTEMPTY = 'Please select ID Type'
ID_CHECKED = 'ID Checked?'
ID_TYPE = 'ID Type?'
ILLEGAL_CHARACTERS = 'Username contains illegal characters'
IN = 'In'
INITIALS = 'Initials'
INSTHARD = 'Installation - Hardware'
INSTSOFT = 'Installation - Software'
KIOSK = 'Kiosk'
LANG = 'Language'
LAST = 'Last'
LASTNAME = 'Last Name'
LOCAL_TIME = 'Local Time'
LOGIN = 'Login'
LOGOUT = 'Logout'
MAINHARD = 'Maintenance - Hardware'
MAINSOFT = 'Maintenance - Software'
MEETING = 'Meeting'
META_DESC = 'LobbySIO is a touchscreen-compatible signature pad/sign-in sheet webapp.'
MIN_PASSWORD_LENGTH = 'Minimum password length is '
NAME = 'Name'
NEW = 'New'
NONEAVA = 'None'
NOSIGNIN = 'No sign in'
NOSITE = 'No Site Selected'
NOTES = 'Notes'
NOTES_PLACEHOLDER = 'Enter notes if needed'
NOT_AUTHORIZED = 'Not Authorized!'
OPTIONAL = 'Optional'
OR_GO_HERE = 'Or use the following items to change kiosk settings.'
OUT = 'Out'
PAGE = 'Page'
PASSPORT = 'Passport'
PASSWORD = 'Password'
PASSWORD_NOTCONFIRMED = 'Password must be confirmed'
PASSWORD_NOTEMPTY = 'Password cannot be empty'
PASSWORD_NOTMATCH = 'Passwords do not match'
PENDINGAPPROVALS = 'Pending Approvals'
PLEASE_LOG_IN = 'Log in for approvals and reporting'
PRINT = 'Print'
PDF = 'PDF'
REASON = 'Reason for Facility Access'
REASONCOMPANY = 'Company / Reason'
REFERENCE = 'Reference'
REFRESH = 'Refresh'
REGION ='Region'
REMEQPT = 'Remove Equipment'
REPORTS = 'Reports'
REPORTS_DESC = 'The drop-down below can be used to select pre-configured reports.  Other reports are currently being written.'
REQUIRED = 'Required'
SAVE = 'Save'
SELECTID = 'Select ID'
SELECTREASON = 'Select Reason'
SERVER_TIME = 'Server Time'
SIGNATURE = 'Signature'
SIGNIN = 'Sign In'
SIGNIN_THANKYOU = 'Thank you for signing in.  We will assign a badge shortly.'
SIGNOUT = 'Sign Out'
SIGNOUT_THANKYOU = 'Thank you - you have been successfully signed out.'
SINCE = 'since'
SITE = 'Site'
SOFTWARE_VERSION = 'Version'
SSANUM = 'SSA Ticket #'
START = 'Start'
STATEID = 'State ID'
TERMSTITLE = 'Our Rules'
TESTING = 'Testing'
TIMEINOUT = 'Time In / Time Out'
TIMEREASON = 'Time & Reason'
TIMEZONE = 'Timezone'
TOUR = 'Tour'
UNAVAIL = 'Unavailable'
USER = 'User'
USERNAME = 'Username'
USERNAME_NOTEMPTY = 'Username cannot be empty'
USERNAME_USED = 'Username already in use'
USERS = 'User Management'
USERTYPE = 'User Type'
USER_INFORMATION = 'User Information'
USER_LIST_DESC = 'Edit or delete users and groups below.'
USER_LIST_HEADER = 'User List'
VALIDATIONS = 'Validations'
VISITOR = 'Visitor'
VOID = 'Void'
VOID_WARNING = 'Are you sure you want to VOID this visit? There is no undo.'
VSIGNATURE = 'Visitor Signature'
YESYES = 'Yes'
NONO = 'No'
