ACCESS_LEVEL = 'Nivel de acceso'
ACCOUNT = 'Cuenta'
ACCOUNT_INFO_DESC = 'Puede realizar cambios en su perfil de usuario a continuación. Para cambiar su contraseña, ingrese una nueva contraseña dos veces abajo y presione guardar. La longitud mínima de la contraseña es '
ACCOUNT_INFO_HEADER = 'Información de la cuenta'
ACKNOWLEDGEMENT = 'Al iniciar sesión, reconozco que he leído y entiendo las Reglas y acepto seguir las reglas de ese documento mientras realizo el trabajo dentro de la instalación. Tenemos una política de seguridad en las instalaciones que tiene en cuenta la nacionalidad y la ciudadanía de los visitantes del centro de datos para cumplir con las leyes de los EE. UU., Como las leyes de control de exportaciones y sanciones económicas. Nuestro objetivo es solo cumplir con las leyes de los EE. UU. Y no negar la entrada al personal de manera arbitraria.'
ACKNOWLEDGEMENT_DOC_NAME = 'Nuestras reglas'
ACTIONS = 'Acciones por tomar'
ACTIVEVISITS = 'Visitas activas'
ADDEQPT = 'Agregar Equipo'
ADD_USER = 'Agregar usuario'
ADD_USER_DESC = '¡Todos los campos son obligatorios! El nombre de usuario y el correo electrónico deben ser únicos. La longitud mínima de la contraseña es '
ADD_SITE = 'Agregar sitio'
SADMIN = 'Administrador de ubicación'
ADMIN = 'Administrador'
ADMINISTRATION = 'Administración'
ALL = 'Todos'
APPROVE = 'Autorizar'
APP_NAME = 'Lobby de inicio / cierre de sesión'
BACK = 'Inicia'
BADGE = 'Numero de placa'
BADGEINITIALS = 'Numero de placa & Sigla'
CHANGE = 'Cambiar'
CHOOSE = 'Por favor seleccione'
CITIZEN = 'Ciudadano de estados unidos?'
CLOSE = 'Cerrar'
COMPANY = 'Organización'
CONFIRM = 'Confirmar'
CREATED = 'Creado'
CUSTSIGNIN = 'Llegada del cliente'
CUSTSIGNOUT = 'Salida del cliente'
CUST_BANNER = 'Lobby de inicio / cierre de sesión'
DEFAULT = 'Defecto'
DELETE = 'Borrar'
DELETE_WARNING = '********* ¡ADVERTENCIA! ********** ¿Estás seguro de que quieres BORRAR este usuario? No hay UNDO!'
EDIT_PROFILE = 'Editar perfil'
EMAIL = 'Dirección de correo electrónico'
EMAIL_NOTVALID = 'La dirección de correo electrónico no es válida'
EMAIL_USED = 'Email ya en uso'
ENAME = 'Nombre de Escolta'
END = 'Fin'
END_VISIT_WARNING = '¿Estás seguro de que quieres cerrar sesión?'
ESCORT = 'Guía'
ESECTION = 'Haga clic aquí si usa una guía'
ESIGNATURE = 'Firma de Escolta'
ETAG = 'Quien escoltara a esta persona'
EXCEL = 'Excel'
EXPORT = 'Exportar'
FIRST = 'Primero'
FIRSTNAME = 'Nombre de pila'
FLAG = 'Marcar'
GOTOSIGNIN = 'Ir a la interfaz del cliente'
GDPR_TEXT = 'GDPR (Reglamento general de protección de datos): tenemos un interés legítimo en registrar sus datos personales para que podamos ejercer nuestro deber de atención hacia usted durante su visita y también en el caso de cualquier responsabilidad futura por pérdida o daño incurrido mientras esté en nuestro sitio. . Sus datos se conservarán de forma segura durante un máximo de seis años.'
HOME = 'Página de inicio'
HOURS = 'Horas'
IDTYPE_NOTEMPTY = 'Por favor seleccione tipo'
ID_CHECKED = 'Identificación verificada?'
ID_TYPE = 'Tipo de Identificación?'
ILLEGAL_CHARACTERS = 'Nombre de usuario contiene caracteres no válidos'
IN = 'Hora de llegada'
INITIALS = 'La sigla'
INSTHARD = 'Instalación de Hardware'
INSTSOFT = 'Instalación de Software'
KIOSK = 'Quiosco'
LANG = 'Idioma'
LAST = 'Apellido'
LASTNAME = 'Apellido'
LOCAL_TIME = 'Tiempo actual'
LOGIN = 'Iniciar sesión'
LOGOUT = 'Cerrar sesión'
MAINHARD = 'Mantenimiento de Hardware'
MAINSOFT = 'Mantenimiento de Software'
MEETING = 'Cita'
META_DESC = 'LobbySIO es una aplicación web compatible con pantalla táctil compatible con pantalla táctil.'
MIN_PASSWORD_LENGTH = 'La longitud mínima de la contraseña es '
NAME = 'Nombre'
NEW = 'Nuevo'
NONEAVA = 'Nada'
NOSIGNIN = 'No completó'
NOSITE = 'Ningún sitio seleccionado'
NOTES = 'Notas'
NOTES_PLACEHOLDER = 'Introduce notas si es necesario'
NOT_AUTHORIZED = '¡No autorizado!'
OPTIONAL = 'Opcional'
OR_GO_HERE = 'O use los siguientes elementos para cambiar la configuración del quiosco.'
OUT = 'Hora de salida'
PAGE = 'Número de página'
PASSPORT = 'Pasaporte'
PASSWORD = 'Contraseña'
PASSWORD_NOTCONFIRMED = 'La contraseña debe ser confirmada'
PASSWORD_NOTEMPTY = 'La contraseña no puede estar vacía'
PASSWORD_NOTMATCH = 'Las contraseñas no coinciden'
PENDINGAPPROVALS = 'Aprobaciones pendientes'
PLEASE_LOG_IN = 'Inicie sesión para aprobaciones y reportes'
PRINT = 'Impresión'
PDF = 'PDF'
REASON = 'Razón para el acceso a las instalaciones'
REASONCOMPANY = 'Empresa / Razón'
REFERENCE = 'Referencia'
REFRESH = 'Recargar'
REGION ='Región'
REMEQPT = 'Llevar Equipo'
REPORTS = 'Informes'
REPORTS_DESC = 'El menú desplegable a continuación se puede utilizar para seleccionar informes preconfigurados. Otros informes se están escribiendo actualmente.'
REQUIRED = 'Necesario'
SAVE = 'Salvar'
SELECTID = 'Por favor seleccione'
SELECTREASON = 'Por favor seleccione tipo'
SERVER_TIME = 'Tiempo de Servidor'
SIGNATURE = 'Firma'
SIGNIN = 'Llegada del cliente'
SIGNIN_THANKYOU = 'Gracias por iniciar sesión. Le asignaremos una credencial en breve.'
SIGNOUT = 'Salida del cliente'
SIGNOUT_THANKYOU = 'Gracias, te has desconectado.'
SINCE = 'desde'
SITE = 'Sitio'
SOFTWARE_VERSION = 'Versión del software'
START = 'Comienzo'
STATEID = 'Identificación del estado'
TERMSTITLE = 'Nuestras reglas'
TESTING = 'Ensayo'
TIMEINOUT = 'Tiempo de inicio / fin de tiempo'
TIMEREASON = 'Tiempo y razon'
TIMEZONE = 'Zona horaria'
TOUR = 'Visitar'
UNAVAIL = 'Indisponible'
USER = 'Usuario'
USERNAME = 'Usuario'
USERNAME_NOTEMPTY = 'El nombre de usuario no puede estar vacío'
USERNAME_USED = 'Nombre de usuario ya está en uso'
USERS = 'Gestión de usuarios'
USERTYPE = 'Tipo de usuario'
USER_INFORMATION = 'Informacion del usuario'
USER_LIST_DESC = 'Edite o elimine usuarios y grupos a continuación.'
USER_LIST_HEADER = 'Lista de usuarios'
VALIDATIONS = 'Validaciones'
VISITOR = 'Visitante'
VOID = 'Invalidar'
VOID_WARNING = '¿Seguro que quieres anular esta visita? No hay deshacer.'
VSIGNATURE = 'Firma del Visitante'
YESYES = 'Sí'
NONO = 'No'
