ACCESS_LEVEL = 'Niveau d&#39;accès'
ACCOUNT = 'Compte'
ACCOUNT_INFO_DESC = 'Vous pouvez modifier votre profil d&#39;utilisateur ci-dessous. Pour changer votre mot de passe, entrez un nouveau mot de passe deux fois ci-dessous et appuyez sur enregistrer. La longueur minimale du mot de passe est '
ACCOUNT_INFO_HEADER = 'Information sur le compte'
ACKNOWLEDGEMENT = 'En me connectant, je reconnais avoir lu et compris les Règles et accepté de suivre les règles de ce document lors de l'exécution de travaux à l'intérieur de l'établissement. Nous avons une politique de sécurité des installations existante qui prend en compte la nationalité et la citoyenneté des visiteurs du centre de données afin de respecter les lois américaines, telles que les lois sur le contrôle des exportations et les sanctions économiques. Notre objectif est uniquement de nous conformer à ces lois américaines et non de refuser l'entrée au personnel de manière arbitraire.'
ACKNOWLEDGEMENT_DOC_NAME = 'Nos règles'
ACTIONS = 'Actions'
ACTIVEVISITS = 'Visites actives'
ADDEQPT = 'Ajouter un équipement'
ADD_USER = 'Ajouter un utilisateur'
ADD_USER_DESC = 'Tous les champs sont requis! Le nom d&#39;utilisateur et l&#39;adresse e-mail doivent être uniques. La longueur minimale du mot de passe est '
ADMIN = 'Administrateur'
ALL = 'Tout'
APPROVE = 'Approuver'
APP_NAME = 'Vestibule register/se désinscrire'
BACK = 'Retour'
BADGE = 'Numéro de badge'
BADGEINITIALS = 'Numéro de badge & Initiales'
CHANGE = 'Changement'
CHOOSE = 'Choisir'
CITIZEN = 'Citoyen?'
CLOSE = 'Terminer'
COMPANY = 'Organisation'
CONFIRM = 'Confirmer'
CREATED = 'Créé'
CUSTSIGNIN = 'Connexion client'
CUSTSIGNOUT = 'Déconnexion du client'
CUST_BANNER = 'Vestibule register/se désinscrire'
DEFAULT = 'Défaut'
DELETE = 'Effacer'
DELETE_WARNING = '********* ATTENTION! ********** Êtes-vous sûr de vouloir SUPPRIMER cet utilisateur ET TOUS LES POINÇONS ASSOCIÉS!?!? Il n&#39;y a pas d&#39;annulation!'
EDIT_PROFILE = 'Editer le profil'
EMAIL = 'Adresse électronique'
EMAIL_NOTVALID = 'Adresse email non valide'
EMAIL_USED = 'Email déjà utilisé'
ENAME = 'Nom d&#39;escorte'
END = 'Fin'
END_VISIT_WARNING = 'Êtes-vous certain de vouloir vous déconnecter?'
ESCORT = 'Escorte'
ESECTION = 'Cliquez ici si une escorte est requise'
ESIGNATURE = 'Escorte Signature'
ETAG = 'Qui escortera cette personne?'
EXCEL = 'Excel'
EXPORT = 'Exportation'
FIRST = 'Prénom'
FIRSTNAME = 'Prénom'
FLAG = 'Marque'
GOTOSIGNIN = 'Aller à l&#39;interface de connexion client'
GDPR_TEXT = 'GDPR (règlement général sur la protection des données) - Nous avons un intérêt légitime à enregistrer vos données personnelles de manière à pouvoir exercer notre devoir de vigilance à votre égard pendant votre visite et également en cas de responsabilité future pour la perte ou le préjudice subi pendant la visite de notre site. . Vos coordonnées seront conservées de manière sécurisée pendant un maximum de six ans.'
HOME = 'Accueil'
HOURS = 'Heures'
IDTYPE_NOTEMPTY = 'Veuillez sélectionner un type d&#39;identification'
ID_CHECKED = 'ID vérifié?'
ID_TYPE = 'Type d&#39;identification?'
ILLEGAL_CHARACTERS = 'Le nom d&#39;utilisateur contient des caractères illégaux'
IN = 'Dans'
INITIALS = 'Initiales'
INSTHARD = 'Installation de matériel'
INSTSOFT = 'Installation de logiciel'
KIOSK = 'Kiosque'
LANG = 'La langue'
LAST = 'Nom de famille'
LASTNAME = 'Nom de famille'
LOCAL_TIME = 'Heure locale'
LOGIN = 'S&#39;identifier'
LOGOUT = 'Connectez - Out'
MAINHARD = 'Maintenance du Hardware'
MAINSOFT = 'Maintenance du Software'
MEETING = 'Réunion'
META_DESC = 'LobbySIO est une application Web pour tablette de signature / feuille de connexion compatible avec les écrans tactiles.'
MIN_PASSWORD_LENGTH = 'La longueur minimale du mot de passe est '
NAME = 'Nom complet'
NEW = 'Nouveau'
NONEAVA = 'Aucun'
NOSIGNIN = 'Pas de connexion'
NOTES = 'Notes'
NOTES_PLACEHOLDER = 'Entrez des notes si nécessaire'
NOT_AUTHORIZED = 'Pas autorisé!'
OPTIONAL = 'Optionnel'
OR_GO_HERE = 'Ou utilisez les éléments suivants pour modifier les paramètres du kiosque.'
OUT = 'En dehors'
PAGE = 'Page'
PASSPORT = 'Passeport'
PASSWORD = 'Mot de passe'
PASSWORD_NOTCONFIRMED = 'Le mot de passe doit être confirmé'
PASSWORD_NOTEMPTY = 'Le mot de passe ne peut pas être vide'
PASSWORD_NOTMATCH = 'Les mots de passe ne correspondent pas'
PENDINGAPPROVALS = 'En attente d`approbation'
PLEASE_LOG_IN = 'Connectez-vous pour les approbations et les rapports'
PRINT = 'Impression'
PDF = 'PDF'
REASON = 'Raison de l’accès aux installations'
REASONCOMPANY = 'Organisation / Raison'
REFERENCE = 'Reference'
REFRESH = 'Actualiser'
REMEQPT = 'Remove Equipment'
REPORTS = 'Rapports'
REPORTS_DESC = 'Le menu déroulant ci-dessous peut être utilisé pour sélectionner des rapports préconfigurés. D&#39;autres rapports sont en cours de rédaction.'
REQUIRED = 'Required'
SAVE = 'Save'
SELECTID = 'Select ID'
SELECTREASON = 'Select Reason'
SERVER_TIME = 'Heure du serveur'
SIGNATURE = 'Signature'
SIGNIN = 'Sign In'
SIGNIN_THANKYOU = 'Merci pour votre connexion. Nous attribuerons un badge dans quelques instants.'
SIGNOUT = 'Sign Out'
SIGNOUT_THANKYOU = 'Merci - vous avez été déconnecté avec succès.'
SINCE = 'depuis'
SITE = 'Site'
SOFTWARE_VERSION = 'Version'
START = 'Début'
STATEID = 'State ID'
TERMSTITLE = 'Nos règles'
TESTING = 'Essai'
TIMEINOUT = 'Time In / Time Out'
TIMEREASON = 'Temps et raison'
TIMEZONE = 'Fuseau horaire'
TOUR = 'Tour'
UNAVAIL = 'Indisponible'
USER = 'Utilisateur'
USERNAME = 'Nom d&#39;utilisateur'
USERNAME_NOTEMPTY = 'Le nom d&#39;utilisateur ne peut pas être vide'
USERNAME_USED = 'Nom d&#39;utilisateur déjà utilisé'
USERS = 'Gestion des utilisateurs'
USERTYPE = 'Type d&#39;utilisateur'
USER_INFORMATION = 'Informations de l&#39;utilisateur'
USER_LIST_DESC = 'Modifier ou supprimer des utilisateurs et des groupes ci-dessous.'
USER_LIST_HEADER = 'Liste d&#39;utilisateur'
VALIDATIONS = 'Endossements'
VISITOR = 'Visiteur'
VOID = 'Vide'
VOID_WARNING = 'Êtes-vous sûr de vouloir annuler cette visite? Il n&#39;y a pas d&#39;annuler.'
VSIGNATURE = 'Visiteur Signature'
YESYES = 'Oui'
NONO = 'Non'
